# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Data folder (too large for GitHub)
data/

# Model weights (too large for GitHub)
checkpoints/

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Environment variables 
.env